.tags-container a:hover {
  text-decoration: none;
}
.tags-container a:after{
  content: ", ";
}

.tags-container a:last-of-type:after{
  content: "";
}

.counter {
  padding: 10px;
}

.container {
  border-bottom: 1px solid #d9edf7;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .col-sm-4 {
    margin: 10px 0;
  }
}
