<div class="container">
  <div class="row">
    <form name="form" (ngSubmit)="f.form.valid && upload()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" required #name="ngModel" [(ngModel)]="stl.name" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" required #name="ngModel" [(ngModel)]="stl.description" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control" required #category="ngModel" [(ngModel)]="stl.category">
          <option value="Architecture">Architecture</option>
          <option value="Education">Education</option>
          <option value="Home & Office">Home & Office</option>
          <option value="Other">Other</option>
          <option value="Science">Science</option>
          <option value="Technology">Technology</option>
          <option value="Toys">Toys</option>
        </select>
      </div>

      <div class="form-group">
        <label for="tags">Tags</label> (seperated by commas)
        <input type="text" id="tags" name="tags" class="form-control" #tags="ngModel" [(ngModel)]="stl.tags" />
      </div>

      <div class="form-group">
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" multiple  />

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs"
                      (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>
</div>
